In [ ]:
#ex1
def max_of_two( x, y ):
    if x > y:
     return x
    else:
     return y
def max_of_three( x, y, z ):
    return max_of_two( x, max_of_two( y, z ) )
print(max_of_three(20,35,19))

35

In [ ]:
#ex2
def calculation(a, b):
    return a+b, a-b

res = calculation(40, 10)
print(res)

(50, 30)

In [ ]:
#ex3

total = 0

list1 = []
 
for ele in range(0, len(list1)):
    total = total + list1[ele]

print("Sum of all elements in given list: ", total)
Output:

In [ ]:
#ex4
items=[n for n in input().split('-')]
items.sort()
print('-'.join(items))

green-red-black-white
black-green-red-white

In [ ]:
#ex5
import math 
d=input()
list=d.spilt(",")
list1=[]
for i in range (0,len(list)):
  list1.append(int(list[i]))
print(list1)
s=map(lambda d:math.sqrt(100*d)/30,list)
for i in s:
  print(int(i),",",end=" ")